# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir:  
  base: ${base}/scripts/R/IndicesSequia/
  lib: ${base}/lib/R/
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Acceso a base de datos
# ------------------------------------------------------------------------------
db:
  name: ${db.name}     # Nombre de la base de datos con registros meteorologicos
  user: ${db.user}     # Nombre del usuario  para ingresar a la base de datos
  pass: ${db.password} # Password del usuario  para entrar a la base de datos
  host: ${db.host}     # Nombre del host donde esta la base de datos
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Definicion de configuraciones a buscar
# ------------------------------------------------------------------------------
configuraciones:
  - { indice: 'SPI', metodo_ajuste: 'NoParametrico' }
  - { indice: 'SPI', metodo_ajuste: 'ML-SinRemuestreo' }
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Definicion de otros parametros de busqueda
# ------------------------------------------------------------------------------
omm_id: [ 87544, 87007, 85467 ]
fecha_hasta: 2018-12-31
mes: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Definicion de parametros para series temporales
# ------------------------------------------------------------------------------
series_temporales:
  omm_id: 87007
  ano_desde: 2001
  ano_hasta: 2010
# ------------------------------------------------------------------------------
